.location .box {
  position: relative;
  border-radius: 5px;
  overflow: hidden;         
  height: 250px;     
  cursor: pointer;
}

.location .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;        
  border-radius: 5px;
  transition: transform 0.4s ease;  
}


.location .box:hover img {
  transform: scale(1.08);
}

.location .overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;              
  width: 100%;
  color: #fff;
  z-index: 2;
}


.location .overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 40px);   
  height: calc(100% - 40px);  
  background: rgb(15 28 47 / 30%);
  z-index: -1;
  margin: 20px;
  border-radius: 5px;
}

.location h5 {
  font-size: 18px;
  font-weight: 500;
}

.location label {
  color: #fff;
  margin-right: 20px;
  opacity: 0.8;
}


@media screen and (max-width: 800px) {
  .location .box {
    height: 200px;        
  }

  .location .overlay::after {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin: 15px;
  }
}
